.wp-block-button__link {
    background: var(--accent-primary);
    transition: all .25s ease-in-out;
}

.wp-block-button__link:hover {
    background: var(--accent-secondary);
    color: white;
    text-decoration: none;
}

.btn-main {
    background: transparent;
    border: 2px solid var(--accent-secondary);
    padding: 10px 25px;
    transition: all .25s ease-in-out;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.btn-main:hover {
    background: #020202;
    color: white;
    border-color: #020202;
    text-decoration: none;
}