/* start of documents & resources */
.row-resources .col-resources {
    border: 1px solid rgba(255, 255, 255, .5);
}

@media only screen and (min-width:1199px) {
    .row-resources .col-resources {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.row-resources .col-resources:first-child,
.row-resources .col-resources:nth-child(5) {
    border-left: none;
}

.row-resources .col-resources:nth-child(4),
.row-resources .col-resources:nth-child(8) {
    border-right: none;
}

.row-resources .col-resources:nth-child(5),
.row-resources .col-resources:nth-child(6),
.row-resources .col-resources:nth-child(7),
.row-resources .col-resources:nth-child(8) {
    border-bottom: none;
}

.col-resources:hover .col-resources-overlay {
    opacity: .26 !important;
}

.col-resources .col-resources-title {
    transition: all .25s ease-in-out;
    transform-origin: left;
}

.col-resources:hover .col-resources-title {
    transform: scale(1.15);
    display: block;
    transition: all .25s ease-in-out;
}

@media only screen and (min-width:1199px) {
    /* .col-resources:hover .col-resources-title {
        transform: scale(1.25);
    } */

    .resources-col-description {
        opacity: 0;
        transition: all .25s ease-in-out;
    }

    .col-resources:hover .resources-col-description {
        opacity: 1;
    }
}

/* end of documents & resources */

/* start of videos */
.video iframe {
    width: 100%;
    height: 295px;
}

/* end of videos */

/* start of courses */
.courses-col * {
    transition: all .25s ease-in-out;
}

.courses-col:hover .courses-col-hover {
    border-color: var(--accent-primary) !important;
    /* background: #EFEDE6 !important; */
}

/* end of courses */

/* start of process */
.hover-box {
    opacity: 0;
}

.col-services-hover:hover .hover-box {
    opacity: 1;
}

.col-services-hover-content li {
    position: relative;
    list-style: none;
    color: #2a3136;
    font-style: italic;
    font-family: "proxima_novabold";
}

.col-services-hover-content li:before {
    content: "";
    background: url('https://insideoutcreative.io/wp-content/uploads/2023/02/Arrow-Right-White.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: -30px;
}

/* end of process */

/* start of timeline */
.col-timeline-carousel:hover .overlay-hover {
    opacity: 0 !important;
}

/* end of timeline */

/* start of services home */

/* .col-services img,
.col-services-overlay {
    transition: all .25s ease-in-out;
}

.col-services:hover img {
    transform: scale(1.05);
}

.col-services:hover .col-services-overlay {
    opacity: 0 !important;
} */

/* end of services home */